<div id="<%= dom_id rock_band %>">
  <p>
    <strong>Bands Of Rock in Roll:</strong>
    <%= rock_band.title %>
  </p>

  <p>
    <strong>Let's Rock:</strong>
    <%= rock_band.description %>
  </p>

  <p>
    <strong>My Favorite Music:</strong>
    <%= rock_band.text %>
  </p>

</div>
